.right_content .menu_items .login_btn{
    cursor: pointer;
    border-radius: 15px;
    padding: 8px 20px;
    background-color: #2952e3;
    color:#fff;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
}
.right_content .menu_items .login_btn svg{

width: 18px;

}
.right_content .menu_items .login_btn:hover{
    background-color: #2546bd;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
    padding-left: 5%;
    padding-right: 5%;
}
.navbar .logo{
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
}
.menu_items a{
    text-decoration: none;
    /* color: black; */
    color: #fff;

    margin-right: 20px;
}
.menu_items{
    display: flex;
    align-items: center;
}
.home_main_container{
    min-height: 100vh;
    background-color: #0f0e13;
    background-image: radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
    radial-gradient(at 50% 0%, hsla(225,39%,30%,1) 0, transparent 50%), 
    radial-gradient(at 100% 0%, hsla(339,49%,30%,1) 0, transparent 50%);
}

.page_contents{
    width: 100%;
    min-height: 88vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8vw;

}
/* .page_contents .right_page img{
    width: 100%;
    min-width: 30vw;
} */

.page_contents .right_page .img{
    min-width: 300px;
    min-height: 200px;
    /* background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px); */
  -webkit-backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */

}
.page_contents .right_page .img img{
    
    max-width: 120px;
    border-radius: 50%;
    margin: 10px;
}
.right_page{
    padding: 0px;
}
.left_page > *{
    margin-bottom: 20px;
}
.left_page .main_title{
    font-size: 3rem;
    font-weight: bold;
    /* color: rgb(30, 30, 30); */
    color: #fff;
}
.left_page .subtitle{
    color: rgb(88, 88, 88);
    max-width: 25vw;
}
.left_page .connect_btn{
    cursor: pointer;
    border-radius: 15px;
    padding: 12px 35px;
    background-color: #2952e3;
    color:#fff;
    font-weight: bold;
    border: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.left_page .connect_btn svg{
    width: 20px;
}
@keyframes float-up-down1 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-100px);
    }
    100% {
      transform: translateY(0);
    }
}

.eth-img img:nth-child(1){
    animation-delay: 0s;
    animation: float-up-down1 2s ease-in-out infinite;
}
.eth-img img:nth-child(2){
    animation-delay: 1s;
    animation: float-up-down1 2s ease-in-out infinite;
}
.eth-img img:nth-child(3){
    animation-delay: 2s;
    animation: float-up-down1 3s ease-in-out infinite;
}
@media(max-width:1000px){
    .left_page .main_title{
        font-size: 2.5rem;
    }
}
@media(max-width:800px){
    .left_page .main_title{
        font-size: 2.4rem;
    }
    .page_contents{
        flex-direction: column-reverse;
        align-items: flex-start;
        padding-top: 50px;
        gap: 40px;
    }
    .left_page .subtitle{
        max-width: 100%;
    }
}