.friends_container{
    padding: 30px;
    margin-left:18em;
}
.friends{
    display: flex;
    flex-wrap: wrap;
}
.friend_item{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: rgb(54, 54, 54);
    padding: 10px;
    border-radius: 8px;
    margin: 10px;

    max-width: 15em;

    color: #fff;
}

.img_user img{
    width: 40px;
}

@media only screen and (max-width: 850px) {
    .friends_container{
        margin: 0;
    }
}