.message{
    margin-top: 5%;
}
.success{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10% 2%;
    background-color: lightgreen;
    padding: 3%;
    border-radius: 2%;
    margin-bottom: 10px;
}
.error{
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10% 2%;
    background-color:rgb(243, 74, 74);
    padding: 3%;
    border-radius: 2%;
}